* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;

  --gray-100: #e2e4e9;
  --gray-200: #c0c4ce;
  --gray-300: #878ea1;
  --gray-400: #292c34;
  --gray-500: #16181d;
  --gray-600: #0d0e11;

  --font-family-asap: "Asap", sans-serif;
  --font-family-inconsolata: "Inconsolata", monospace;
  --font-family-maven: "Maven Pro", sans-serif;

  --title-lg: 700 56px/120% var(--font-family-asap);
  --title-md: 700 24px/120% var(--font-family-asap);
  --title-sm: 700 16px/120% var(--font-family-asap);

  --subtitle: 400 20px/120% var(--font-family-inconsolata);

  --text-md: 400 16px/140% var(--font-family-maven);
  --text-sm: 400 14px/140% var(--font-family-maven);
}

.subtitle {
  color: var(--red);
  font: var(--subtitle);
}

h2 {
  color: var(--gray-100);
  font: var(--title-md);
}

.grid {
  margin-top: 56px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  gap: 24px;
}

.content-tag {
  font: var(--title-sm);
  color: var(--gray-100);
}

.card-paragraph {
  color: var(--gray-200);
  font: var(--text-sm);
}

a{
  text-decoration: none;
  color: var(--gray-200);
  font: var( --text-md);
}